.card-product {
    height: 580px;
    margin-left: 8px;
}
.slick-track {
    padding-bottom: 22px;
}
.top-rate {
    margin-top: 30px;
}
.title {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: white;
}
.desc {
    font-family: "Orbitron", sans-serif;
    text-align: center;
    color: #e25fa5;
}
.top-rate .card-product img {
    width: 340px;
    height: 340px;
}
.top-rate .card-product .card-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 1024px) {
    .card-product {
        margin-left: 0px;
    }
}
@media (max-width: 600px) {
    .card-product {
        width: 99%;
    }
}
@media (max-width: 480px) {
    .card-product {
        width: 100%;
    }
}
