@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* CSS */
.header {
    color: white;
    position: absolute;
    z-index: 1;
}
.header .menu li {
    cursor: pointer;
    transition: all 0.5s;
}
.header .menu li:hover {
    color: #e25fa5;
}
.header .btn-icon {
    display: flex;
    gap: 22px;
}
.header .btn-icon i {
    cursor: pointer;
    transition: all 0.5s;
}
.header .btn-icon i:hover {
    color: #e25fa5;
}
.header .menu .products {
    padding: 12px 22px;
}
.header .menu .products .cate-product {
    pointer-events: none;
    height: 100vh;
    opacity: 0;
    left: 0;
    top: 150px;
    color: white;
    position: absolute;
    transition: all 0.5s;
    backdrop-filter: blur(10px);
}
.header .menu .products .cate-product img {
    transition: all 0.5s;
    width: 100%;
}
.header .menu .products .cate-product .product-item {
    width: 500px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 18px;
}
.header .menu .products .cate-product .product-item .content-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    color: black;
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item .content-product .title {
    font-family: "Orbitron", sans-serif;
}
.header .menu .products .cate-product .product-item .content-product .btn-shop {
    display: flex;
    align-items: center;
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item .content-product .btn-shop i {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    transition: all 0.5s;
}
.header .menu .products .cate-product .product-item:hover img {
    transform: scale(1.15);
}
.header .menu .products .cate-product .product-item .content-product .btn-shop:hover i {
    transform: rotate(-45deg);
}
.header .menu .products .cate-product .product-item .content-product .btn-shop:hover {
    color: #e25fa5;
}
.header .menu .products:hover .cate-product {
    opacity: 1;
    pointer-events: visible;
    top: 72px;
}
/* Search-popup */
.search-popup {
    position: fixed;
    opacity: 0;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    transition: all, 0.5s;
}
.search-popup.active {
    opacity: 1;
    top: 10%;
}
.search-popup .search-input {
    position: relative;
}
.search-popup input {
    width: 100%;
    padding: 12px 0;
    padding-left: 15px;
    border: none;
    outline: none;
    background-color: #1e1e20;
    color: #e25fa5;
    overflow: hidden;
}
.search-popup input::placeholder {
    font-size: smaller;
}
.search-popup i {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}
.search-popup .result {
    width: 100%;
    background-color: white;
    max-height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}
.search-popup .result .list-item {
    cursor: pointer;
    border-top: 2px solid #e25fa5;
}
.search-popup .result h5 {
    color: black;
}
.search-popup .result p {
    color: red;
}
.search-popup .result .img-item {
    display: flex;
}
/* Search-popup */

/* Responsive menu */
.fa-bars {
    display: none;
}
.menu-container {
    position: fixed;
    left: -100%;
    opacity: 0;
    width: 45vw;
    height: 100vh;
    top: 0;
    background-color: #1e1e20;
    padding: 0;
    transition: all 0.5s;
}
.menu-container.active {
    opacity: 1;
    left: 0;
}
.menu-container.active::after {
    content: "";
    pointer-events: none;
    position: absolute;
    right: -133%;
    height: 100vh;
    width: 60vw;
    backdrop-filter: blur(10px);
    z-index: 0;
}
.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: 12px;
    right: 12px;
    background-color: #e25fa5;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.close-btn i {
    transition: all 0.5s;
}
.close-btn:hover {
    background-color: white;
}
.close-btn:hover i {
    transform: rotate(-45deg);
    color: #f5576c;
}
.header .res-menu {
    position: absolute;
    width: 100%;
    top: 90px;
    left: -100%;
    opacity: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    transition: all 0.5s;
}
.header .res-menu.active {
    left: 0;
    opacity: 1;
}
.header .res-menu li {
    cursor: pointer;
    width: 90%;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    padding-bottom: 10px;
}
.header .res-menu li::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0px;
    transition: all 0.5s;
}
.header .res-menu li:hover {
    color: #e25fa5;
}
.header .res-menu li:hover::after {
    width: 100%;
    background-color: #e25fa5;
}
.header .sub-product {
    position: absolute;
    width: 100%;
    top: 90px;
    opacity: 0;
    right: -100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    transition: all 0.5s;
    pointer-events: none;
}
.header .sub-product li {
    cursor: pointer;
    width: 90%;
    overflow-y: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.5s;
    padding-bottom: 10px;
}
.header .sub-product li::after {
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    background-color: white;
    bottom: 0px;
    transition: all 0.5s;
}
.header .sub-product.active {
    opacity: 1;
    right: 0;
    pointer-events: visible;
}
.header .sub-product li:hover {
    color: #e25fa5;
}
.header .sub-product li:hover::after {
    width: 100%;
    background-color: #e25fa5;
}
/* Responsive menu */

/* Cart_Popup */
.cart-popup {
    width: 25vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    opacity: 0;
    background-color: white;
    z-index: 1;
    color: black;
    pointer-events: none;
    transition: all, 0.5s;
}
.cart-popup .top {
    padding-bottom: 17px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.5);
}
.cart-popup.active {
    pointer-events: visible;
    opacity: 1;
    right: 0;
}
.cart-popup::after {
    content: "";
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: -400%;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}
.cart-popup .empty-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-popup img {
    width: 80%;
}
.cart-popup .top-title {
    margin-top: 13px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.cart-popup .top-title h6 {
    margin-bottom: 0;
}
.cart-popup .top-title span {
    background: black;
    color: white;
    font-size: smaller;
    border-radius: 12px;
    padding: 5px 12px;
}
.cart-popup .top .close-btn {
    background-color: black;
}
.cart-popup .list-btn {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.cart-popup .list-btn .btn {
    color: black;
    width: 60%;
    padding: 12px 0;
    border-radius: 22px;
    background-color: rgba(229, 229, 229, 0.978);
    transition: all, 0.5s;
}
.cart-popup .list-btn .btn:hover {
    color: #e25fa5;
}
.cart-popup .none-empty {
    max-height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart-popup .none-empty .cart-item {
    display: flex;
    align-items: center;
    font-size: smaller;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.cart-popup .none-empty .cart-quantity {
    display: flex;
    align-items: center;
}
.cart-popup .none-empty .cart-quantity input {
    width: 10%;
    background-color: white;
    border: none;
}
.cart-popup .none-empty .cart-quantity i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: rgb(196, 197, 201);
    color: rgba(0, 0, 0, 0.515);
    border-radius: 50%;
    transition: all 0.5s;
    cursor: pointer;
}
.cart-popup .none-empty .cart-quantity i:hover {
    color: #f5576c;
}
.cart-popup .cart-total {
    position: fixed;
    bottom: 0;
    width: 25vw;
    height: 25%;
    border-top: 2px solid rgba(128, 128, 128, 0.5);
}
.cart-popup .cart-total .view-cart {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 8px 0;
    border-radius: 22px;
    font-size: 22px;
    color: black;
    background-color: rgba(128, 128, 128, 0.5);
    transition: all 0.5s;
    cursor: pointer;
}
.cart-popup .cart-total .view-cart:hover{
    color: white;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
/* Cart_Popup */
/* CSS */

/* Responsive */
@media (max-width: 1451px) {
    .search-popup {
        width: 60vw;
    }
}

@media (max-width: 1290px) {
    .cart-popup {
        width: 50vw;
    }
    .cart-popup .cart-total {
        width: 50vw;
    }
    .cart-popup::after {
        left: -200%;
    }
}
@media (max-width: 1200px) {
    .header .menu .products .cate-product .product-item {
        width: 400px;
    }
}
@media (max-width: 992px) {
    .header .menu li {
        display: none;
    }
    .fa-bars {
        display: block;
    }
    .search-popup .infor {
        text-align: center;
    }
    .search-popup .img-item {
        justify-content: center;
    }
    .search-popup img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}
@media (max-width: 887px) {
    .cart-popup {
        width: 70vw;
    }
    .cart-popup .cart-total {
        width: 70vw;
    }
    .cart-popup::after {
        left: -142.7%;
    }
}
@media (max-width: 701px) {
    .menu-container {
        width: 65vw;
    }
    .menu-container.active::after {
        right: -91.9%;
    }
}
@media (max-width: 571px) {
    .cart-popup .cart-total {
        width: 100vw;
    }
    .cart-popup {
        width: 100vw;
    }
    .cart-popup::after {
        display: none;
    }
}
@media (max-width: 560px) {
    .search-popup {
        width: 75vw;
    }
}
@media (max-width: 403px) {
    .header .btn-icon {
        font-size: smaller;
        gap: 12px;
    }
}
/* Responsive */
